.admin-page {
  background-color: #fdecd2;
  padding: 20px;
  text-align: center;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 90%;
  margin: 0 auto;
}

.logo {
  width: 150px;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.title {
  font-size: 2rem;
  flex-grow: 1;
  text-align: center;
}

.download-button {
  background-color: black;
  color: white;
  padding: 14px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.download-button:hover {
  opacity: 0.8;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

.custom-table {
  width: 100%;
  max-width: 90%;
  border-collapse: separate;
  border-spacing: 15px;
}

.custom-table th,
.custom-table td {
  background-color: #f4a261;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.custom-table th {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

.custom-table td {
  height: 50px;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .download-button {
    padding: 10px 20px;
    margin-bottom: 10px;
  }

  .custom-table th,
  .custom-table td {
    padding: 8px;
  }

  .custom-table td img {
    width: 50px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 100px;
  }

  .title {
    font-size: 1.2rem;
  }

  .download-button {
    padding: 8px 16px;
  }

  .custom-table th,
  .custom-table td {
    padding: 6px;
  }

  .custom-table td img {
    width: 40px;
  }
}
